// color
$red: #f11717;
$yellow: #f1f117;
$green: #17f117;

// background
$bg-light: #d8dde21f;
$bg-white: #ffffff;
$bg-antique-white: #faebd7;

// Typography
$font-family-primary: "Arial", sans-serif;
$font-size-default: 1rem;
